.main{

    background-color: #0B202B;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-variant: small-caps;
    

}
.main:hover{

    color: white;
    
}

.padding{

    background-color: #87cefac4;
    margin-top: 51px;

}

.btn{

    background-color: whitesmoke;
    color: black !important;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-variant: small-caps;
}

.btn:hover{
    color: white !important;
    background-color: #13C1E3;
}