.main{

    background-color: #0B202B;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-variant: small-caps;
    padding-top: 240px;
    align-items: center;

}
.main:hover{

    color: white;
    
}

.padding{

    background-color: #87cefac4;
    margin-top: 50px;
    
}

.btn{

    background-color: whitesmoke !important;
    color: black !important;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-variant: small-caps;
}

.btn:hover{
    color: white !important;
    background-color: #0a7a91 !important;
}