.main{

    background-color: darkslateblue;

    color: white;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    font-weight: bolder;
    
    font-variant: small-caps;

}

.padding{

    padding: 50px;
    
}